<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Github API</title>
	<link rel="stylesheet" type="text/css" href="bcomponents/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/gh.css" />
	<script type="text/javascript" src="bcomponents/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bcomponents/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<header id="gh-header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand">Github API</span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="user_name" href="{{ user.html_url }}">
							<figure id="avatar"><img src="{{ user.avatar_url }}" alt="{{ user.name }}" /></figure>
							<span>{{ user.login }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<section id="gh-body" class="container-fluid">
		<article class="row">
			<div class="col-md-6">
				{% for repo in repos %}
				<div class="repository row" data-createdat="{{ repo.created_at }}" data-updatedat="{{ repo.updated_at }}" data-pushedat="{{ repo.pushed_at }}">
					<div class="col-md-10">
						<h4>
							<a href="{{ repo.html_url }}">{{ repo.name }}</a>
						</h4>
					</div>
					<div class="col-md-2">
						<div class="glyphicon"> <span class="glyphicon-star"></span> {{ repo.stargazers_count }}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</article>
	</section>
</body>
</html>