<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>APIS</title>
	<link rel="stylesheet" type="text/css" href="/bcomponents/bootstrap/dist/css/bootstrap.css" />
	<script type="text/javascript" src="/bcomponents/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bcomponents/underscore/underscore.js"></script>
	<script type="text/javascript" src="/bcomponents/backbone/backbone.js"></script>
</head>
<body>
	<header id="apis-head">
		<h1>Ejemplos de uso de APIS</h1>
	</header>
	<section id="apis-body">
		<a href="/soundcloud" id="soundcloud" class="api">Soundcloud</a>
		<a href="/github" id="github" class="api">Github</a>
	</section>
</body>
</html>