<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>ROHATIRO</title>
	<link rel="stylesheet" type="text/css" href="/bcomponents/normalize-css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/styl/briefcase.css" />
</head>
<body>
	<div class="briefcase">
		<header class="briefcase__header">
			<h2 class="briefcase__header__welcome briefcase__paragraph briefcase__paragraph--opacitybg briefcase__paragraph--white">Te doy la bienvenida a mi portafolio de proyectos</h2>
			<h1 class="briefcase__header__myname briefcase__paragraph briefcase__paragraph--opacitybg briefcase__paragraph--white">Mi nombre es Roberto Haziel Tienda Rodríguez</h1>
			<h3 class="briefcase__header__message briefcase__paragraph briefcase__paragraph--opacitybg briefcase__paragraph--white">Soy un desarrollador frontend, que actualmente está trabajando con la plataforma de colaboración empresarial de Microsoft. Además estoy trabajando en pequeños proyectos propios basados en tecnologías que estoy aprendiendo, como: NodeJS(Javascript), Django(Python) y Rails(Ruby)</h3>
			<span class="briefcase__header__contact briefcase__paragraph briefcase__paragraph--opacitybg briefcase__paragraph--white">Si deseas contactarme puedes mandarme un correo a este email: <a class="briefcase__header__contact__link briefcase__paragraph--white" href="mailto:rohatiro@gmail.com">rohatiro@gmail.com</a></span>
			<aside class="briefcase__header__networks briefcase__paragraph--opacitybg briefcase__paragraph--white">
				<a href="//twitter.com/robhatiro" class="briefcase__header__networks__link">Twitter</a>
				<a href="//github.com/rohatiro" class="briefcase__header__networks__link">Github</a>
			</aside>
		</header>
		<section class="briefcase__container">
			<article class="briefcase__proyects">
				<header class="briefcase__proyects__header">
					<h1 class="briefcase__proyects__header__text">Proyectos</h1>
				</header>
				<a href="/soundcloud" class="briefcase__proyects__proyect briefcase__soundcloud">Soundcloud API</a>
			</article>
		</section>
	</div>
</body>
</html>