<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="bcomponents/normalize-css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/sc.css" />
	<script type="text/javascript" src="bcomponents/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="http://connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript" src="js/swig.min.js"></script>
	<script type="text/javascript" src="js/scapi.js"></script>
</head>
<body>
	<header id="sc-header">
		<div id="sc-headtitle">
			<h1>SoundCloud API</h1>
		</div>
		<div id="sc-login"></div>
	</header>
	<section id="sc-contains">
		<section id="tracks"></section>
	</section>
</body>
</html>