{% extends "./soundcloud.html" %}
{% block body %}
<article class="soundcloud__favorites">
{% if favorites %}
{% for fav in favorites %}
	<div class="soundcloud__favorites__song">
		<img src="{% if fav.artwork_url %}{{ fav.artwork_url }}{% else %}{{ fav.user.avatar_url }}{% endif %}" class="track-artwork-img">
		<span class="soundcloud__favorites__song__title">{{ fav.title }}</span>
		<a href="/soundcloud/tracks/{{ fav.id }}">{{ fav.title }}</a>
	</div>
{% endfor %}
{% else %}
	<p class="soundcloud__favorites__nosongs">No hay canciones</p>
{% endif %}
</article>
{% endblock %}