{% extends "./soundcloud.html" %}
{% block body %}
<article class="soundcloud__favorites">
{% if favorites %}
{% for fav in favorites %}
<div class="soundcloud__favorites__song">
	<a class="soundcloud__favorites__song__title" href="/soundcloud/player?listen={{ fav.id }}"><img src="{% if fav.artwork_url %}{{ fav.artwork_url }}{% else %}{{ fav.user.avatar_url }}{% endif %}" class="soundcloud__favorites__song__img"></a>
	<a class="soundcloud__favorites__song__title" href="/soundcloud/player?listen={{ fav.id }}">{{ fav.title }}</a><br />
	<a href="{{ fav.user.permalink_url }}" class="soundcloud__favorites__song__user">{{ fav.user.username }}</a>
	<span class="soundcloud__favorites__song__duration">{{ fav.duration }}</span>
</div>
{% endfor %}
{% else %}
	<p class="soundcloud__favorites__nosongs">No hay canciones</p>
{% endif %}
</article>
{% endblock %}