{% extends "./soundcloud.html" %}
{% block headstyles %}
	<link rel="stylesheet" type="text/css" href="/css/scplayer.css" />
{% endblock %}
{% block headscripts %}
<script type="text/javascript">
	var getMax = function(array) {
		return Math.max.apply(Math,array);
	};
	var getMin = function(array) {
		return Math.min.apply(Math,array);
	};
	var scaleArray = function(omax,omin,nmax,nmin,array) {
		var narray = [];
		var nval;
		for(var i = 0; i < array.length; i++)
		{
			nval = (omax-omin) <= 0 ? 0 : (((array[i]-omin)*(nmax-nmin))/(omax-omin))+nmin;
			narray.push(nval);
		}
		return narray;
	};
	$(function() {
		var $body = $("#player");
		window.canvas = document.createElement("canvas");

		canvas.width = $body.width();
		canvas.height = 100;

		$body.html(canvas);
		
		window.canvasctx = canvas.getContext("2d");
		window.audioctx = new AudioContext();
		window.scriptprocesor = audioctx.createScriptProcessor(2048,1,1);

		scriptprocesor.connect(audioctx.destination);

		window.analyser = audioctx.createAnalyser();
		analyser.smoothingTimeConstant = 0.3;
		analyser.fftSize = 1024;

		window.buffersource = audioctx.createBufferSource();
		buffersource.connect(analyser);
		analyser.connect(scriptprocesor);
		buffersource.connect(audioctx.destination);

		scriptprocesor.onaudioprocess = function () {
			var array = new Uint8Array(analyser.frequencyBinCount);
			analyser.getByteFrequencyData(array);

			var omax = getMax(array);
			var omin = getMin(array);
			var nmax = canvas.height;
			var nmin = 0;

			array = scaleArray(omax,omin,nmax,nmin,array);


			canvasctx.clearRect(0,0,canvas.width,canvas.height);
			canvasctx.fillStyle="#444";

			var value;
			var bw = canvas.width / array.length;

			for(var i = 0; i < array.length; i++)
			{
				value = array[i];
				canvasctx.fillRect(i*bw,canvas.height - value,bw,value);
			}
		};
	});
</script>
{% endblock %}
{% block body %}
<article class="row">
	<div class="col-xs-8" id="player">
		
	</div>
	<div class="col-xs-4">
	{% for fav in favorites %}
		<div class='track' id='{{ fav.id }}'>
			<figure class='track-artwork-container'>
				<a class='track-artwork-link' href='#'>
					<img class='track-artwork-img' src='{% if fav.artwork_url %} {{fav.artwork_url}} {% else %} {{fav.user.avatar_url}} {% endif %}' />
				</a>
			</figure>
			<div class='track-controls-container'>
				<div class="track-title-container">
					<span class="track-title">{{fav.title}}</span>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</article>
{% endblock %}