<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/bcomponents/normalize-css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/styl/sc.css" />
	{% block headstyles %}{% endblock %}
	<script type="text/javascript" src="/bcomponents/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bcomponents/underscore/underscore.js"></script>
	{% block headscripts %}{% endblock %}
</head>
<body class="soundcloud">
	<header class="soundcloud__title">
		<h1 class="soundcloud__title__text">Soundcloud API</h1>
	</header>
	<section class="soundcloud__body">
		{% block body %}{% endblock %}
	</section>
</body>
</html>