<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="bcomponents/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/gh.css" />
	<script type="text/javascript" src="bcomponents/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="//connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript" src="js/waveform.js"></script>
	<script type="text/javascript" src="js/soundmanager2.js"></script>
	<script type="text/javascript" src="js/sc.js"></script>
	<script type="text/javascript">
	</script>
</head>
<body>
	<header id="gh-header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand">Soundcloud API</span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/soundcloud/favorites">Favorites</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="user_name" href="{{ user.permalink_url }}">
							<figure id="avatar"><img src="{{ user.avatar_url }}" alt="{{ user.full_name }}" /></figure>
							<span>{{ user.username }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<section id="gh-body" class="container-fluid">
		{% for fav in favorites %}
			<article class='track' id='{{ fav.id }}'>
				<figure class='track-artwork-container'>
					<a class='track-artwork-link' href='#'>
						<img class='track-artwork-img' src='{% if fav.artwork_url %} {{fav.artwork_url}} {% else %} {{fav.user.avatar_url}} {% endif %}' />
					</a>
				</figure>
				<div class='track-controls-container'>
					<div class="track-title-container">
						<span class="track-title">{{fav.title}}</span>
					</div>
					<div class='track-controls'>
						<a href="javascript:void(0)" class='btn play'>Play</a href='#'>
					</div>
					<div class='waveform' data-url="{{ fav.waveform_url }}"></div>
				</div>
			 </article>
		{% endfor %}
	</section>
	<script type="text/javascript">
	$(".navbar-header .navbar-toggle").on("click",function() {
		event.preventDefault();
		var $this = $(this);
		var $navbar = $this.parent().next();
		$navbar[$this.hasClass("collapsed") ? "addClass" : "removeClass"]("in");
		$this[$this.hasClass("collapsed") ? "removeClass" : "addClass"]("collapsed");
	});
	</script>
</body>
</html>