html
	font-size 16px
	font-family sans-serif
.briefcase
	display block
.briefcase__paragraph
	color #000
	display block
	margin-bottom 1rem
	margin-top 0
	padding 0.5rem 0.7rem
	text-align center
.briefcase__header
	background-color #0Db37f
.briefcase__header__welcome
	font-size 1.5rem
.briefcase__header__myname
	font-size 1.6rem
.briefcase__header__message
	font-size 1rem
.briefcase__header__contact
	font-size .8rem
	padding-left .5rem
	padding-right .5rem
.briefcase__header__contact__link
	color #000
.briefcase__header__networks
	font-size 1rem
	padding-left .5rem
	padding-right .5rem
	text-align center
.briefcase__header__networks__link
	color #eee
	display inline-block
	padding .625rem .9375rem
	text-decoration none
.briefcase__paragraph--white
	color #eee
.briefcase__paragraph--opacitybg
	background-color rgba(20,20,20,0.5)