*
	box-sizing border-box
	&:after,&:before
		box-sizing border-box
a:active, a:hover
	color #2790B0
html
	font-size 16px
	font-family sans-serif
.briefcase
	display block
.briefcase__paragraph
	color #000
	display block
	margin-bottom 1rem
	margin-top 0
	padding 0.5rem 0.7rem
	text-align center
.briefcase__header
	background-color #2B4E72
.briefcase__header__welcome
	font-size 1.5rem
.briefcase__header__myname
	font-size 1.6rem
.briefcase__header__message
	font-size 1rem
.briefcase__header__contact
	font-size .8rem
	padding-left .5rem
	padding-right .5rem
.briefcase__header__contact__link
	color #000
.briefcase__header__networks
	font-size 1rem
	padding-left .5rem
	padding-right .5rem
	text-align center
.briefcase__header__networks__link
	background-color #94BA65
	color #eee
	display inline-block
	padding .625rem .9375rem
	text-decoration none
.briefcase__paragraph--white
	color #eee
.briefcase__paragraph--opacitybg
	background-color rgba(200,200,200,0.2)
.briefcase__proyects
	background-color #4E4D4A
	display block
.briefcase__proyects__header
	background-color #353432
	padding 0.5rem 1rem
.briefcase__proyects__header__text
	color #eee
	font-size 2.2rem
	margin 0
	text-align center
.briefcase__proyects__proyect
	color #eee
	display inline-block
	font-size 1.5rem
	font-weight bold
	padding-bottom 3rem
	padding-left 1rem
	padding-right 1rem
	padding-top 3rem
	text-align center
	width 100%
.briefcase__soundcloud
	background-color #fd6f01