@font-face
	font-family 'apis'
	src url('../fonts/apis.eot?-t23tiw')
	src url('../fonts/apis.eot?#iefix-t23tiw') format('embedded-opentype'),url('../fonts/apis.woff?-t23tiw') format('woff'),url('../fonts/apis.ttf?-t23tiw') format('truetype'),url('../fonts/apis.svg?-t23tiw#apis') format('svg')
	font-weight normal
	font-style normal
html
	font-size 16px
.soundcloud__title
	display block
	background-color #005353
.soundcloud__title__text
	color #eee
	font-size 2rem
	margin 0
	padding-bottom 0.6rem
	padding-left 0.9rem
	padding-right 0.9rem
	padding-top 0.6rem