#player
  background #1b1b1b
.track
  margin-bottom 10px
  &:after
    clear both
    content " "
    display block
    font-size 0
    height 0
    visibility hidden
.track-artwork-container
  float left
.track-controls-container
  margin 0 0 5px 105px